.cate-image{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}
.form-select{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color:#fff;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solide #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.order-details label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.order-details div{
    font-size: 12px;
    font-weight: 700;
    padding: 6px;
}
.card-header{
    color: azure;
}
.hr{
    color: azure;
}